@import "tailwindcss";
@import "tw-animate-css";

@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f1ecea;
  --foreground: #727069;
  --card: #ffffffed;
  --card-foreground: oklch(61.883% 0.01484 262.405);
  --popover: oklch(79.037% 0.09807 94.241 / 0.317);
  --popover-foreground: oklch(19.77% 0.02912 102.488);
  --primary: oklch(39.222% 0.05116 93.015);
  --primary-foreground: oklch(93.283% 0.0134 97.506);
  --secondary: oklch(53.836% 0.08069 96.187);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --action: oklch(32.755% 0.00843 208.974);
  --action-foreground: oklch(87.842% 0.04267 110.224);
  --muted: rgba(201, 163, 86, 0.897);
  --muted-foreground: oklch(14.997% 0.00457 84.872 / 0.643);
  --destructive:  rgba(176, 26, 64, 0.649);
  --destructive-foreground: rgb(235, 83, 121);
  --accent: oklch(12.856% 0.00001 271.152 / 0.252);
  --accent-foreground: oklch(92.239% 0.12642 95.539);
  --success: rgb(32, 148, 109);
  --success-foreground: rgb(202, 246, 210);
  --warning: rgba(254, 247, 180, 0.273);
  --warning-foreground: rgb(218, 196, 0);
  --border: oklch(35.053% 0.02947 68.684 / 0.115);
  --input: rgba(202, 199, 209, 0.217);
  --input-border: rgba(191, 185, 196, 0.964);
  --ring: oklch(65.222% 0.12802 82.448);
  --chart-1: oklch(0.88 0.15 92);
  --chart-2: oklch(0.77 0.16 70);
  --chart-3: oklch(0.67 0.16 58);
  --chart-4: oklch(0.56 0.15 49);
  --chart-5: oklch(0.47 0.12 46);
  --chart-6: oklch(66.924% 0.08162 95.767);
  --chart-7: oklch(59.356% 0.07714 88.759 / 0.902);
  --chart-8: oklch(66.137% 0.08431 102.882 / 0.66);
  --radius: 0.5rem;
  --sidebar: rgba(29, 28, 35, 0.897);
  --sidebar-foreground: rgba(231, 228, 225, 0.897);
  --sidebar-primary: rgba(201, 163, 86, 0.897);
  --sidebar-primary-foreground: rgba(255, 255, 255, 0.897);
  --sidebar-accent: rgba(242, 229, 202, 0.897);
  --sidebar-accent-foreground: rgba(255, 255, 255, 0.897);
  --sidebar-border: oklch(88.789% 0.02953 100.659 / 0.062);
  --sidebar-ring: oklch(73.191% 0.01405 106.84);
}

.dark {
  --background: rgb(225, 222, 229);
  --foreground: oklch(58.164% 0.03839 88.808 / 0.995);
  --card: oklch(100% 0.00011 271.152 / 0.805);
  --card-foreground: oklch(53.878% 0.01594 88.751);
  --popover: rgba(208, 216, 221, 0.659);
  --popover-foreground: oklch(43.952% 0.03098 82.155);
  --primary: oklch(57.1% 0.07339 93.774);
  --primary-foreground: oklch(92.615% 0.031 219.968);
  --secondary: oklch(89.243% 0.02202 294.456);
  --secondary-foreground: oklch(82.318% 0.03616 72.78);
  --action: oklch(23.272% 0.00596 236.961);
  --action-foreground: oklch(92.237% 0.04197 205.876);
  --muted: oklch(84.387% 0.01637 82.749 / 0.652);
  --muted-foreground: oklch(59.403% 0.02325 88.784 / 0.691);
  --accent: oklch(82.967% 0.04016 261.532 / 0.268);
  --accent-foreground: oklch(28.094% 0.03926 226.534);
  --destructive: oklch(60.836% 0.14061 21.047 / 0.56);
  --destructive-foreground: rgb(238, 88, 96);
  --success: oklch(70.765% 0.09415 172.04);
  --success-foreground: lab(73 -52.33 15.61);
  --warning: oklch(85.944% 0.17509 88.905 / 0.937);
  --warning-foreground: rgb(175, 132, 4);
  --border: oklch(46.495% 0.01884 73.415 / 0.363);
  --input: oklch(75.928% 0.02669 255.646 / 0.956);
  --input-border: rgba(221, 213, 228, 0.964);
  --ring: oklch(60.356% 0.10994 86.502 / 0.917);
  --chart-1: oklch(63.453% 0.09891 90.906 / 0.655);
  --chart-2: oklch(56.087% 0.09421 280.031);
  --chart-3: oklch(24.202% 0.01107 73.363 / 0.606);
  --chart-4: oklch(62.843% 0.03886 109.255 / 0.268);
  --chart-5: oklch(50.187% 0.17072 282.755 / 0.568);
  --chart-6: oklch(66.924% 0.08162 95.767);
  --chart-7: oklch(59.356% 0.07714 88.759 / 0.902);
  --chart-8: oklch(66.137% 0.08431 102.882 / 0.66);
  --radius: 1.2rem;
  --sidebar: oklch(16.467% 0.00417 285.875 / 0.969);
  --sidebar-foreground: oklch(87.811% 0.01666 278.44 / 0.499);
  --sidebar-primary: oklch(53.262% 0.03417 236.27);
  --sidebar-primary-foreground: oklch(41.654% 0.0516 90.094 / 0.81);
  --sidebar-accent: oklch(58.709% 0.03032 269.442);
  --sidebar-accent-foreground: oklch(53.403% 0.06185 258.638);
  --sidebar-border: oklch(43.278% 0.01231 57.846 / 0.127);
  --sidebar-ring: oklch(73.703% 0.05068 54.608);
}


@theme inline {
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-action-foreground: var(--action-foreground);
  --color-action: var(--action);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-input-border: var(--input-border);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer components {
  .border-border {
    @apply border-border;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    scrollbar-width: 3px !important;
    scrollbar-color: #1515143f transparent !important;
  }




  body {
    @apply bg-background text-foreground;
  }
}