@import "tailwindcss";
@import "tw-animate-css";

@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: rgb(41, 43, 51);
  --foreground: oklch(92.467% 0.01011 267.402 / 0.803);
  --card: oklch(93.511% 0.00923 106.76 / 0.13);
  --card-foreground: oklch(54.003% 0.08385 283.234 / 0.109);
  --popover: oklch(94.297% 0.00818 91.496 / 0.916);
  --popover-foreground: oklch(56.669% 0.11478 97.643);
  --primary: oklch(67.659% 0.13492 76.151 / 0.97);
  --primary-foreground: oklch(93.283% 0.0134 97.506);
  --secondary: oklch(71.182% 0.10705 85.796);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(40.566% 0.03334 110.099 / 0.1);
  --muted-foreground: oklch(72.123% 0.02814 102.437 / 0.897);
  --accent: oklch(68.583% 0.04495 71.592);
  --accent-foreground: oklch(80.997% 0.01678 95.297);
  --destructive: oklch(54.212% 0.19042 24.025 / 0.421);
  --destructive-foreground: rgb(235, 127, 132);
  --border: oklch(27.935% 0.04031 283.483 / 0.651);
  --input: oklch(78.093% 0.0212 285.846 / 0.575);
  --ring: oklch(64.507% 0.06102 284.554);
  --chart-1: oklch(0.88 0.15 92);
  --chart-2: oklch(0.77 0.16 70);
  --chart-3: oklch(0.67 0.16 58);
  --chart-4: oklch(0.56 0.15 49);
  --chart-5: oklch(0.47 0.12 46);
  --radius: 0.625rem;
  --sidebar: oklch(27.19% 0.00629 258.428 / 0.939);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(76.892% 0.02727 76.697);
  --sidebar-primary-foreground: oklch(0.99 0.02 95);
  --sidebar-accent: oklch(35.782% 0.03209 90.175);
  --sidebar-accent-foreground: oklch(0.99 0.02 95);
  --sidebar-border: oklch(88.789% 0.02953 100.659 / 0.062);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.77 0.16 70);
  --primary-foreground: oklch(0.28 0.07 46);
  --secondary: oklch(52.338% 0.0266 285.421);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.77 0.16 70);
  --accent-foreground: oklch(0.28 0.07 46);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(59.9% 40.95 20.49);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.88 0.15 92);
  --chart-2: oklch(0.77 0.16 70);
  --chart-3: oklch(0.67 0.16 58);
  --chart-4: oklch(0.56 0.15 49);
  --chart-5: oklch(0.47 0.12 46);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.77 0.16 70);
  --sidebar-primary-foreground: oklch(0.28 0.07 46);
  --sidebar-accent: oklch(0.77 0.16 70);
  --sidebar-accent-foreground: oklch(0.28 0.07 46);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@theme inline {
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer components {
  .border-border {
    @apply border-border;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}